body {
  background-color: #000;
}

#landing-header {
  z-index: 1; /* move div infront of background image for example*/
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /* move div behind background content */
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1491555103944-7c647fd857e6?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  animation-delay: 7s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1493540554008-8e3008329feb?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  animation-delay: 14s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1466495227171-d05d7e3ac2b3?auto=format&fit=crop&w=1101&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  animation-delay: 21s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1497030855747-0fc424f89a4b?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  animation-delay: 28s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}