.card{
    margin: 20px 0;
}

.col-md-3{
    margin: 20px 0;
}

#delete-form{
    display: inline;
}

.container.message{
    margin-top: 20px;
}

.footer {
  position: fixed;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #008000;
  color: white;
  text-align: center;
}